<!-- views/isbn_input.erb -->

<form method="post" action="isbn_input">  <!-- the action corresponds to the post item in app.rb -->
  <input type="text" name="ISBN">  <!-- "text" type == string, "ISBN" is the variable that you can access from app.rb -->
  <input type="submit">  <!-- creates a button to submit form data -->
</form>

