<p><%= @result %></p>
<p>The number you entered (<%= @num %>) is <%= @valid %></p>

<div style="position: relative">
  <p style="position: fixed; bottom: 0; width: 100%; text-align: center">still © jverbosky</p>
</div>