<!--
/views/layout.erb
- used to host common content for ISBN Validator and ISBN Validator Results pages
-->

<!doctype html>
<html lang="en">
  <head>
    <title>ISBN Validator</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/images/favicon.ico?" type="image/x-icon">  <!-- added to get favicon to load -->
  </head>
  <body>
  <header>
    <h1><%= @title %></h1>   <!-- instance variable for title -->
  </header>
  <section>
    <div class="row">
      <div class="column">
        <div>
          <img src="/images/i.png" alt="Whoops - image failed to load...">
        </div>
      </div>
      <div class="column">
        <div>
          <h3>Please enter an ISBN number to evaluate</h3>
          <form method="post" action="isbn_results">  <!-- action ~ "post '/isbn_results' do" in app.rb -->
            <input type="text" name="ISBN">  <!-- text == string, name ~ "@num = params[:ISBN]" in app.rb -->
            <input type="submit">  <!-- button to submit form data -->
          </form>
        </div>
      </div>
    </div>
    <%= yield %>  <!-- load unique content from other .erb files -->
    <div class="row">
      <p style="position: fixed; bottom: 0; text-align: center">© jverbosky</p>  <!-- copyright text -->
    </div>
  </section>
  </body>
</html>