<!--
/views/layout.erb
- used to host common content for ISBN Validator and ISBN Validator Results pages
-->

<!doctype html>
<html lang="en">
  <head>
    <title>ISBN Validator</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/images/favicon.ico?" type="image/x-icon">  <!-- added to get favicon to load -->
  </head>
  <body>
  <header>
    <h1><%= @title %></h1>   <!-- instance variable for title -->
  </header>
  <section>
    <div class="row">
      <div class="column">
        <div>
          <img src="/images/i.png" alt="Whoops - image failed to load...">
        </div>
      </div>
      <div class="column">
        <div>
          <h3>Please enter an ISBN number to evaluate</h3>
          <form method="post" action="isbn_results">  <!-- action ~ "post '/isbn_results' do" in app.rb -->
            <input type="text" name="ISBN">  <!-- text == string, name ~ "@num = params[:ISBN]" in app.rb -->
            <input type="submit">  <!-- button to submit form data -->
          </form>
        </div>
      </div>
    </div>
    <%= yield %>  <!-- load unique content from other .erb files -->
    <div class="row">
      <h3>Reference ISBN Numbers</h3>
      <div class="red-background">
        <table>
          <tr>
            <td><b>ISBN-10</b></td>
            <td><b>ISBN-13</b></td>
            <td><b>Invalid</b></td>
          </tr>
          <tr>
            <td>0471958697</td>
            <td>9780470059029</td>
            <td>4780470059029</td>
          </tr>
          <tr>
            <td>0-321-14653-0</td>
            <td>978-0-13-149505-0</td>
            <td>0-321@14653-0</td>
          </tr>
          <tr>
            <td>877 1 95 869x</td>
            <td>978 0 471 48648 0</td>
            <td>877195x869</td>
          </tr>
        </table>
      </div>
    <div class="row">
      <p style="position: fixed; bottom: 0; text-align: center">© jverbosky</p>  <!-- copyright text -->
    </div>
  </section>
  </body>
</html>