body {
  /*background-color: var(--background);*/
  background-color: #d0d0d0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/*div {
  display: table;
  margin: 0 auto;
  max-width: 1280px;
}*/
h1 {
  font-size: 36px;
  text-align: center;
  color: #405eae;
}
/*h3 {
  text-align: center;
  color: rgb(136, 0, 21);
}
h4 {
  color: rgb(136, 0, 21);
}
h5 {
  font-size: 18px;
  text-align: center;
  color: rgb(136, 0, 21);
  font-style: italic;
}
p {
  font-size: 16px;
  color: rgb(136, 0, 21);
  padding: 5px 0px 0px 0px;
}
li {
  font-size: 16px;
  color: rgb(136, 0, 21);
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.caption-text {
  color: yellow;
  text-align: center;
  margin-bottom: 0px;
}
.img-responsive-max, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%; 
  max-width: 100%;
}
.oval {
  border-color: yellow;
  border-width: 3px;
  border-style: solid;
  border-radius: 80px / 100px;
}
.red-background {
  background-color: red;
  padding: 5px 5px 5px 5px;
}
.yellow-background {
  background-color: rgb(249, 254, 152);
  padding: 5px 5px 5px 5px;
  margin: 20px 0px 0px 0px;
  max-width: 900px;
}
#hiragana {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}
#hiragana td {
    border: 1px solid red;
    padding: 8px;
}
#hiragana tr:nth-child(odd){
  background-color: rgb(250, 254, 165);
}
#hiragana tr:nth-child(even){
  background-color: rgb(242, 252, 100);
}
button {
  color: red;
  font-size: 16pt;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 5px 10px; 
}
.odd {
  background-color: rgb(250, 254, 165);
}
.even {
  background-color: rgb(242, 252, 100);
}*/